*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    /* background: rgb(0 100 0 / 0.1) !important; */
}

body {
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: hsl(52deg 43% 69%);
}

main {
    margin: 0 15%;
}

h1 {
    font-size: 2.5rem;
    text-align: start;
    margin: 0.5em 0;
}

h1+p {
    text-align: center;
}

h1+p a,
.redly {
    background: #b93232;
    color: #FFF;
    text-decoration: none;
    display: block;
    margin: 0 auto 22px auto;
    width: 140px;
    text-align: center;
    padding: 6px 14px 8px 14px;
    border-radius: 3px;
}

/* NEEDED STYLES */
label {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: hsl(52deg 43% 80%);
    border-radius: 3px;
    color: black;
    font-size: 1.5em;
    transition: ease .5s;
}

label:hover {
    background: hsl(52deg 43% 80%);
}

.content {
    background: hsl(52deg 43% 69%);
    transition: 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: start;
}

input+.content {
    max-height: unset;
    height: 0;
    overflow: hidden;
}

input:checked+.content {
    height: 60vh;
    padding: 5vh 0;
}

input {
    display: none;
}