*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    /* background: rgb(0 100 0 / 0.1) !important; */
}

body {
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: hsl(52deg 43% 69%);
}

main {
    margin: 0 15%;
}

h1 {
    font-size: 2.5rem;
    text-align: start;
    margin: 0.5em 0;
}

h1+p {
    text-align: center;
}

h1+p a,
.redly {
    background: #b93232;
    color: #FFF;
    text-decoration: none;
    display: block;
    margin: 0 auto 22px auto;
    width: 140px;
    text-align: center;
    padding: 6px 14px 8px 14px;
    border-radius: 3px;
}

.meme {
    width: 100%;
    object-fit: cover;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background: hsl(52deg 43% 80%);
    border-radius: 3px;
    color: black;
    font-size: 1.5em;
    transition: ease .2s
}

.label-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label:hover {
    background: hsl(52deg 43% 80%);
}

.content {
    background: hsl(52deg 43% 69%);
    transition: max-height 0.4s ease-in, margin 0.4s ease-in;
    display: flex;
    justify-content: center;
    align-items: start;
}

input+label>.content {
    max-height: 0;
    overflow: hidden;
}

input:checked+label>.content {
    max-height: 116vh;
    margin: 5% 0;
}

input {
    display: none;
}

.icon {
    width: 2.125rem;
    height: 2.125rem;
    transition: 0.4s ease-in;
}

input:checked+label>.label-text>.icon {
    transform: rotate(180deg);
}

@media (hover:hover) {

    input:not(:checked)+label:hover {
        color: hsl(246deg 82% 28%);
    }

    label:hover,
    .content:hover {
        cursor: pointer;
    }
}